html    {
    font-family: "Alegreya Sans", sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $body;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul  {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

p {
    margin-top: 0px;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container  {
    margin: 0 auto;
    max-width: 940px;
    position: relative;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.btn {
    cursor: pointer;
}