@import "https://necolas.github.io/normalize.css/latest/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-family: "Alegreya Sans", sans-serif;
  scroll-behavior: smooth;
  font-size: 18px;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
}

.hero {
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;
}
.hero:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: #1968B1;
}
.hero:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background: url(../../img/decor/cc54b080a52d3a32105f47fa904b563a.jpg) left 80%/cover no-repeat;
  opacity: 0.8;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero__title-section {
  width: 50%;
}

.hero__title-desc {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 60px;
}

.hero__icons-section {
  padding-bottom: 61px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 21px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 22px;
  font-weight: 700;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.phone-number__text {
  font-weight: 700;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  height: 41px;
  width: 41px;
  margin-right: 11px;
}

.feature__text {
  max-width: 90px;
  font-size: 16px;
  font-weight: 700;
}

.btn {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 21px 41px;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
}
.btn--theme--white {
  background: #FEDB3F;
  color: #000;
}
.btn--theme--white:hover {
  background: #FFD517;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  text-align: center;
  color: #292929;
}

.headline {
  text-align: center;
}

.headline__subtitle {
  padding: 0 27%;
  margin-bottom: 49px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2.2%;
  position: relative;
}
.benefits__item::before {
  content: url(../../img/decor/Combined\ shape\ 2204.svg);
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.benefit__icon {
  height: 68px;
  width: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 27px;
  margin-bottom: 22px;
  color: #292929;
}

.benefit__desc {
  line-height: 22px;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  height: 264px;
  width: 253px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 28px;
  margin-left: 40px;
}

.reviews__title {
  font-size: 27px;
  line-height: 32px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 14px;
}

.reviews__text {
  margin-bottom: 25px;
}

.reviews__author {
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  margin-right: 6px;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  height: 62px;
  width: 62px;
  border: 6px solid #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  position: relative;
}
.order-section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: #2B2B2B;
}
.order-section:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background: url(../../img/decor/cd318b28c9ca7b595ef1ba2ba8ffdac9.jpg) center/cover no-repeat;
  opacity: 0.4;
}

.order__section__title {
  color: #fff;
  margin-bottom: 61px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 16px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  color: #fff;
  font-size: 18px;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 18px 12px;
  border-radius: 5px;
  border: solid 3px transparent;
  font-size: 14px;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible::before {
  background: url(../../img/icons/checkmark.svg) center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  color: #fff;
}