$containerWidth: 940px;
$baseFontSize: 18px;
$black: #292929;
$body: #666;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$blue: #1968B1;

@import "./media.scss";

//z-indexes
$z-fixed-menu: 100;

//normalize
@import "https://necolas.github.io/normalize.css/latest/normalize.css";

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "./layout.scss";

//components
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/btn.scss";
@import "./components/section.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/reviews.scss";
@import "./components/interactive-avatar.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/fixed-menu.scss";
@import "./components/hamburger.scss";
@import "./components/map.scss";
@import "./components/footer.scss";
@import "./components/contacts.scss";