.btn    {
    font-size: rem(16px);
    font-weight: 800;
    line-height: 1;
    text-decoration: none;
    border: none;

    &--theme--yellow    {
        background: #FEDB3F;
        color: #000;
        padding: rem(21px) rem(41px);
        border-radius: rem(100px);
        text-transform: uppercase;



        &:hover {
            background: #FFD517;
        }
    }

    &--theme--transparent   {
        background: none;
        color: #fff;
        font-size: rem(18px);
        font-weight: 400;
        margin-left: rem(22px);

        &:hover {
            color: #FEDB3F;
        }
    }
}