.interactive-avatar     {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    @mixin active-avatar    {
        border: rem(6px) solid #FEDB3F;
    }

    &:hover {
        @include active-avatar()
    }

    &--active   {
        @include active-avatar()
    }
}

.interactive-avatar__link   {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.interactive-avatar__img    {
    height: 100%;
    width: 100%;
}
