.product-slider__arrows {
    position: absolute;
    width: 100%;
    top: 48%;
    display: flex;
    justify-content: space-between;


    @include tablets {
        left: 20%;
        width: 60%;
        top: 32%;
    }

    @include phones {
        left: 0;
        width: 100%;
    }
}

.product-slider__arrow  {
    z-index: 10;
    &--direction--next {
        & .arrow__icon-svg {
            transform: rotate(-180deg);
        }
    }
}



.arrow__icon-svg    {
    width: rem(13.5px);
    height: rem(27px);
}




.product-section    {
    background-color: #F8FAF9;
    position: relative;
}

.products-slider {
    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
        margin: auto 0;
    }
}

.product__container {
    display: flex;
    max-width: 95%;
    margin: 0 auto;

    @include tablets {
        flex-direction: column;
        align-items: center;
        padding: rem(40px) 0;
    }
}

.product__image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/decor/deck-background.svg) center no-repeat;

    @include tablets {
        background-size: rem(306px);
        width: 90%;
    }

    @include phones {
        background-size: rem(243px);

    }

    & .product__image   {
        width: rem(150px);
        height: rem(535px);
        transform: rotate(30deg);
        z-index: 5;

        @include tablets {
            width: rem(116px);
            height: rem(414px);
        }

        @include phones {
            width: rem(92px);
            height: rem(329px);
        }
    }
}

.product__description   {
    max-width: 374px;
    z-index: 10;
    
    @include tablets {
        max-width: rem(528px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.product__title {
    color: #000;
    font-size: rem(36px);
    margin-top: rem(52px);
    margin-bottom: rem(24px);

    @include tablets {
        font-size: rem(30px);
        margin-top: 0;
        margin-bottom: rem(14px);
    }
}

.product__common    {
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.common__text   {
    margin-bottom: rem(24px);

    @include tablets {
        text-align: center;
    }

    @include phones {
        max-width: rem(380px);
    }
}

.common__fast-characteristics   {
    display: flex;
    margin-bottom: rem(24px);

    @include tablets {
        padding-left: rem(30px);
    }
}

.fast-characteristic:last-child {
    margin-left: rem(44px);
}

.fast-characteristic__value {
    color: #000;
    font-weight: 700;
}

.common__order  {
    display: flex;
    justify-content: left;
    @include tablets {
        justify-content: center;
    }
}

.product__price {
    color: #000;
    font-weight: 300;
    font-size: rem(60px);
    margin-right: rem(28px);
    @include tablets {
        margin-right: rem(44px);
    }
    @include phones {
        font-size: rem(50px);
        margin-right: rem(20px);
    }
}

.order__btn {
    font-size: rem(16px);
    line-height: rem(18px);
    margin: auto 0;
}