.feature    {
    display: flex;
}


.feature__icon  {
    height: rem(41px);
    width: rem(41px);
    margin-right: rem(11px);
    fill: #fff;
}

.feature__text  {
    max-width: rem(90px);
    font-size: rem(16px);
    font-weight: 700;
}