.order-section  {
    position: relative;
    color: #fff;

    @mixin background-parameters ($z-index: -10, $background: #2B2B2B) {
        content:'';
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index:$z-index;
        background: $background;
    }
    
    &:before{
        @include background-parameters;
    }

    &:after {
        @include background-parameters(-9, url(../img/decor/cd318b28c9ca7b595ef1ba2ba8ffdac9.jpg) center / cover no-repeat);
        opacity: .4;
    }
}

.order__section__title  {
    margin-bottom: 61px;
    color: inherit;
}

.form   {
    display: flex;
}

.form__col  {
    flex: 1;
    margin-right: 26px;

    &:last-child    {
        margin-right: 0;
    }
}

.form__row  {
    display: flex;
    margin-bottom: 14px;

    &--margin   {
        margin-bottom: 28px;
    }
}

.form__block    {
    flex: 1;
    margin-right: 14px;

    &:last-child    {
        margin-right: 0;
    }
}

.form__title    {
    font-size: 18px;
}

.form__input    {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 18px 12px;
    border-radius: 5px;
    border: solid 3px transparent;
    font-size: 14px;

    &:focus    {
        border-color: #FEDB3F;
        outline: none;
    }

    &--textarea {
        height: 152px;
        resize: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}