.radio  {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    margin-right: rem(20px);
    margin-bottom: rem(16px);

    &--checkbox {
        margin-bottom: rem(44px);


        .radio__visible {
            border-radius: rem(4px);
            
            & .checkmark__icon   {
                display: none;
            }
            &::before   {
                background: none;
            }
        }
    }
}

.radio__elem    {
    display: none;
    
    
    &:checked ~ .radio__visible {
        
        &::before   {
            display: block;
        }

        & .checkmark__icon   {
            display: block;
        }
        
    }
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    

    &::before   {
        content: "";
        width: rem(13px);
        height: rem(13px);
        background: #FEDB3F;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.checkmark__icon    {
    height: 8px;
    width: 10px;
    fill: #FEDB3F;
}